:root.theme-dark {
  --text-color: #DB00FF;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --card-bg: #000028;
  --decor-color: #ff0070;
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
  --link-shadow: #ff0070;
  --bg-image: url('../images/cover-image-dark.png');
  --button-hover-border: rgba(255, 0, 112, 0.4);
}

.theme-dark main, footer {
  background-image: none;
  background-color: #000028;
  margin-left: -20px;
  margin-right: -20px;
}

.theme-dark footer {
  margin-bottom: -20px !important;
}

.theme-dark .section {
    margin-right: 20px;
    margin-left: 20px;
  }

.theme-dark .section__title {
    margin-left: 0 !important; 
    margin-bottom: 20px;
  }

.theme-dark .header__decoration {
  display: block;
}

.theme-dark .header__title {
  color: #DB00FF;
  text-shadow: 4px 4px 0 #FF0070;
}

.theme-dark .section__title {
  color: #FF0070;
}

.theme-dark .card__text {
  color: #F1B2CE;
}

.theme-dark .footer__text {
  color: #DB00FF;
  text-shadow: 2px 2px 0 #FF0070;
}