*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0;
  padding: 0;
   font-family: var(--main-font, 'IBM Plex mono', monospace);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 1.3);
  color: var(--text-color, #F1B2CE);
  background-color: var(--bg-color, #000028);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
