*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Mono, monospace;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  padding: var(--container-padding);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-inline-end: var(--container-padding);
  inset-block-start: var(--container-padding);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-inline-start: var(--container-padding);
  inset-block-end: var(--container-padding);
}

.header__decoration {
  position: absolute;
  inset-inline-end: calc(var(--container-padding) + 28px);
  inset-block-start: var(--container-padding);
  color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: 1.3;
}

.header__decoration::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  inset-inline-end: -19px;
  inset-block-start: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  display: flex;
  justify-self: center; /* Центрируем по горизонтали */
  align-self: center;
  margin-inline-start: 0; /* Убираем смещение */
  font-size: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--decor-color);
  background: transparent;
  cursor: pointer;
  text-transform: lowercase;
  font-family: inherit;
  font-size: inherit;
  position: relative;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}

.header__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 700;
  line-height: 83%;
  color: #FFC2E6;
}

.header__subtitle {
  display: flex;
  justify-self: end;
  align-self: flex-end;
  margin: 0;
  font-weight: 700;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.main {
  display: grid;
  gap: 80px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #353430;
}

.section__content {
  display: grid;
  font-size: 18px;
  line-height: 23.4px;
  gap: var(--gap);
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-weight: 700;
  margin: 0;
  font-size: inherit;
}

.card__text {
  font-weight: 400;
  margin: 0;
}

.card-accent .card__title-accent {
  font-weight: 400;
}

.card__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.card__link:hover {
  border-block-end: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery__content {
  display: grid;
}

.gallery__image {
  width: 100%;
  height: 100%;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding-top: 60px;
}

.footer__text {
  font-size: 157px;
  font-weight: 700;
  line-height: 83%;
  color: #FFC2E6;
}

@media (width >= 768px) {
  .header {
    display: flex;
    
    flex-direction: column; 
    margin-block-end: 60px;
  }

  .header__theme-menu {
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
    width: 70px;
    height: 98px;
    margin-top: 172px;
    margin-right: 20px;
    margin-bottom: 173px;
  }
  
  .header__title {
    justify-self: start;
    font-size: 120px;
    margin-left: -20px;
    margin-bottom: 162px;
  }
  
  .header__subtitle {
    width: 364px;
    height: 117px;
    font-size: 18px;
    line-height: 23.4px;
  }

  .section__title {
    width: 236px;
    margin-bottom: 20px;
  }
  
  .section__content {
    grid-column: 2;
  }

  .section__accent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .section__content-why {
     width: 472px;
     margin-left: 20px;
   }

  .section__content-accent {
    width: 472px;
    
  }

  .section__density {
    display: flex;
    flex-direction: column;
    width: 728px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .footer__text {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 120px;
    width: 360px;
    height: 99px;
    margin: 463px 204px 462px 204px;
  }
}

@media (width >= 1024px) {
  .header {
    margin-block-end: 194px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: center;
    margin-bottom: 273px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
  
  .header__title {
    font-size: 157px;
    margin-bottom: 114px;
  }

  .header__subtitle {
    font-size: 18px;
    width: 491px;
    height: 71px;
    line-height: 23.4px;
  }

  .section__content-why {
     width: 648.92px;
   }

  .section__density {
    display: flex;
    flex-direction: column;
  }

  .section__content-density {
    display: flex;
    flex-direction: row;
  }
  
  .card__title {
    height: 23px;
    margin-bottom: 20px;
  }

  .section__title {
    width: 315px;
    height: 47px;
    margin-left: 20px;
  }
  
  .section__content {
    gap: 20px;
  }

  .section__content-accent {
    width: 649px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
  }
  
  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .footer__text {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 471px;
    height: 130px;
    margin: 319px 276px 319px 277px;
  }
}

@media (width >= 375px) {
  .page {
    min-inline-size: 320px;
    padding: 10px;
  }

  .header {
    
    display: flex;
    flex-direction: column; 
    margin-block-end: 40px;
  }

  .header__theme-menu {
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
    width: 70px;
    height: 98px;
    margin-top: 75px;
    margin-right: 5px;
    margin-bottom: 65px;
  }
  
  .header__title {
    justify-self: center;
    align-self: center;
    font-size: 116px;
    font-weight: 700;
    line-height: 83%;
    margin-bottom: 55px;
  }
  
  .header__subtitle {
    width: 355px;
    height: 117px;
    font-size: 18px;
    line-height: 23.4px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .section__title {
    font-size: 18px;
    line-height: 23.4px;
    min-height: 47px;
  }

  .section__content-why {
    margin-bottom: -30px;
  }

  .section__density {
    margin-bottom: -30px;
  }

  .section-accent {
    margin-bottom: -30px;
  }

  .gallery__content {
    gap: 10px;
  }
  
  .footer__text {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 116px;
    width: 348px;
    height: 96px;
    margin: 286px 8px 285px 9px;
  }
}